infrastructure/n8n/chatbot_rag_workflow.json
{
  "name": "WordPress RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wp-chatbot-rag",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook (WP REST API)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Eres un asistente virtual amigable. Responde a las consultas del usuario basandote unicamente en la informacion obtenida a traves de tus herramientas de contexto. Responde en espanol."
        },
        "agent": "toolsAgent"
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.4,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook (WP REST API)').item.json.body.session_id }}",
        "contextWindowLength": 10
      },
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        304,
        256
      ]
    },
    {
      "parameters": {
        "qdrantCollection": "wordpress_context",
        "options": {},
        "collectionName": "wordpress_context",
        "collection": "wordpress_context",
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Busca informacion sobre servicios, precios, horarios y profesionales disponibles en QS Manager",
        "topK": 4,
        "includeDocumentMetadata": true
      },
      "name": "Qdrant Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        512,
        256
      ]
    },
    {
      "parameters": {
        "options": {},
        "model": "llama-3.3-70b-versatile"
      },
      "name": "Groq Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        128,
        576
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Embeddings HuggingFace Inference",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        496,
        480
      ]
    }
  ],
  "connections": {
    "Webhook (WP REST API)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
