infrastructure/n8n/chatbot_rag_workflow.json
{
  "name": "WordPress RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wp-chatbot-rag",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook (WP REST API)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "promptType": "define",
        "text": "={{ $json.body.prompt || $json.body.message }}",
        "options": {
          "systemMessage": "Eres un asistente de atencion y reservas para el sitio indicado en el perfil del mensaje. Habla en espanol natural de Chile y respeta el tono, servicios, aliases, WhatsApp, restricciones y campos de reserva recibidos en el perfil. Responde normalmente en 2 a 4 frases cortas, listas para enviar por chat. Usa parrafos breves y solo usa bullets si enumeras opciones, pasos o requisitos. Usa solo informacion obtenida desde knowledge_base y no inventes precios, promociones ni disponibilidad. PRECIOS Y TALLERES: nunca entregues valores numericos ni fechas de talleres, aunque los encuentres en knowledge_base. Para cualquier cotizacion o consulta de talleres usa el WhatsApp del perfil. REGLA DE RESERVA: antes de pedir datos de agendamiento, aclara la duda o redirige a la pagina correspondiente y pregunta si desea reservar. Si preguntan por disponibilidad y no han confirmado que desean reservar, responde solo que la disponibilidad se revisa antes de confirmar y pregunta: Deseas reservar?. No pidas datos en esa respuesta. Solo si la clienta confirma que desea reservar, pide un dato por mensaje en el orden de campos_reserva del perfil. Nunca pidas todos los datos juntos. La memoria confiable viene exclusivamente en el historial enviado por WordPress en el mensaje de usuario. Usalo para no volver a pedir datos ya entregados. Si falta contexto suficiente durante una reserva ya confirmada, pide solo el siguiente dato util. Si ya tienes contexto suficiente, responde sin rodeos. Si usas knowledge_base, hazlo una sola vez por turno. No menciones QS Manager."
        }
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.4,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook (WP REST API)').first().json.body.session_id ?? $execution.id }}",
        "contextWindowLength": 4
      },
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        304,
        256
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Busca informacion publica y operativa del sitio actual sobre servicios, reservas, precios referenciales, restricciones comerciales y tono de atencion.",
        "qdrantCollection": "={{ $json.body.vector_collection || $json.body.profile?.vector_collection || $env['QDRANT_COLLECTION'] || 'wordpress_context' }}",
        "options": {},
        "topK": 5
      },
      "name": "Qdrant Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        512,
        256
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        },
        "model": "nvidia/nemotron-3-super-120b-a12b:free"
      },
      "name": "OpenRouter Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        128,
        576
      ]
    },
    {
      "parameters": {
        "options": {},
        "model": "sentence-transformers/distilbert-base-nli-mean-tokens",
        "modelName": "sentence-transformers/distilbert-base-nli-mean-tokens"
      },
      "name": "Embeddings HuggingFace Inference",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        496,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json.output ?? $json;\nlet text = '';\n\nif (typeof source === 'string') {\n  text = source;\n} else if (source && typeof source === 'object') {\n  if (typeof source.text === 'string') {\n    text = source.text;\n  } else if (typeof source.texto === 'string') {\n    text = source.texto;\n  } else if (typeof source.output === 'string') {\n    text = source.output;\n  } else if (typeof source.content === 'string') {\n    text = source.content;\n  }\n}\n\nif (text === '' && typeof $json.text === 'string') {\n  text = $json.text;\n}\n\nif (text === '') {\n  text = JSON.stringify(source);\n}\n\nreturn [{ json: { output: text.trim() } }];"
      },
      "name": "Normalize Chat Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ]
    }
  ],
  "connections": {
    "Webhook (WP REST API)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Normalize Chat Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
