infrastructure/n8n/chatbot_rag_workflow.json
{
  "name": "WordPress RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wp-chatbot-rag",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook (WP REST API)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Eres el asistente de atencion y reservas de Qamiluna Studio. Habla en espanol natural de Chile, con tono cercano, claro y resolutivo. Responde normalmente en 2 a 4 frases, sin encabezados ni listas salvo que la clienta lo pida. Usa solo informacion obtenida desde knowledge_base y no inventes precios, promociones ni disponibilidad. Interpreta que Qamiluna, Qami Luna y Cami Luna se refieren a Qamiluna Studio. Si la consulta es sobre novia, interpretala como un servicio para novia, no como vida personal. Si falta contexto suficiente, dilo breve y pide solo el siguiente dato util. No menciones QS Manager."
        }
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.4,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook (WP REST API)').item.json.body.session_id ?? $execution.id }}",
        "contextWindowLength": 4
      },
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        304,
        256
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Busca informacion publica y operativa de Qamiluna Studio sobre servicios, novia civil y fiesta, maquillaje social, precios referenciales, reservas, abono, traslados y tono de atencion.",
        "qdrantCollection": "wordpress_context",
        "options": {},
        "topK": 2
      },
      "name": "Qdrant Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        512,
        256
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        },
        "model": "nvidia/nemotron-3-super-120b-a12b:free"
      },
      "name": "OpenRouter Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        128,
        576
      ]
    },
    {
      "parameters": {
        "options": {},
        "model": "sentence-transformers/distilbert-base-nli-mean-tokens",
        "modelName": "sentence-transformers/distilbert-base-nli-mean-tokens"
      },
      "name": "Embeddings HuggingFace Inference",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        496,
        480
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        },
        "model": "nvidia/nemotron-3-super-120b-a12b:free"
      },
      "name": "OpenRouter Chat Model Formatter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        672,
        576
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Texto base del asistente. Solo reformatealo y devuelvelo mejor presentado, sin cambiar el significado ni responder desde cero:\\n\\n' + $json.output }}",
        "options": {
          "systemMessage": "Recibes una respuesta base del asistente de Qamiluna Studio y tu unica tarea es mejorar su formato final para chat. No cambies el significado ni agregues informacion nueva. Mantén todos los datos, precios, condiciones, URLs y preguntas tal como vienen. No respondas desde cero. No digas que falta contexto, no pidas el texto base y no hables de instrucciones. Devuelve texto claro para renderizado visual: usa un parrafo inicial breve, luego una lista con bullets si enumeras servicios, pasos o requisitos, y termina con un cierre o pregunta final en un parrafo separado. Deja una linea en blanco entre secciones. Usa entre 0 y 2 emojis bien puestos. Si el texto base ya trae una pregunta final, conservála. No uses titulos markdown, no uses tablas y no exageres el formato. Devuelve solo el mensaje final listo para enviar a la clienta."
        },
        "agent": "conversationalAgent"
      },
      "name": "AI Formatter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.4,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json.output ?? $json;\nlet text = '';\n\nif (typeof source === 'string') {\n  text = source;\n} else if (source && typeof source === 'object') {\n  if (typeof source.text === 'string') {\n    text = source.text;\n  } else if (typeof source.texto === 'string') {\n    text = source.texto;\n  } else if (typeof source.output === 'string') {\n    text = source.output;\n  } else if (typeof source.content === 'string') {\n    text = source.content;\n  }\n}\n\nif (text === '' && typeof $json.text === 'string') {\n  text = $json.text;\n}\n\nif (text === '') {\n  text = JSON.stringify(source);\n}\n\nreturn [{ json: { output: text.trim() } }];"
      },
      "name": "Normalize Chat Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ]
    }
  ],
  "connections": {
    "Webhook (WP REST API)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model Formatter": {
      "ai_languageModel": [
        [
          {
            "node": "AI Formatter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Formatter": {
      "main": [
        [
          {
            "node": "Normalize Chat Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
