infrastructure/n8n/wp_rag_ingestion_workflow.json
{
  "name": "WP RAG Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wp-ingest-rag",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "WP Data Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": "wordpress_context",
        "options": {},
        "collectionName": "wordpress_context",
        "collection": "wordpress_context"
      },
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        512,
        0
      ]
    },
    {
      "parameters": {
        "options": {},
        "model": "sentence-transformers/distilbert-base-nli-mean-tokens",
        "modelName": "sentence-transformers/distilbert-base-nli-mean-tokens"
      },
      "name": "Hugging Face Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        128,
        192
      ]
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "post_id",
                "value": "={{ String($('WP Data Receiver').first().json.body.post_id) }}"
              },
              {
                "name": "title",
                "value": "={{ $('WP Data Receiver').first().json.body.title }}"
              },
              {
                "name": "url",
                "value": "={{ $('WP Data Receiver').first().json.body.url }}"
              }
            ]
          }
        },
        "dataType": "json",
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.body.content }}"
      },
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        560,
        208
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        320,
        256
      ]
    }
  ],
  "connections": {
    "WP Data Receiver": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Hugging Face Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
